<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Enter Your ChurcHome</h1>
  <br/>
  <%= simple_form_for @church do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :weblink %>
    <br/>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %> 
</div>